.services{
    height: 100%;
    overflow: hidden;
    display: flex;
}

.services-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title{
    font-size: 56px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.service-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service{
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    background: #2f213f;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.service-icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon img{
    width: 30px;
    height: 30px;
}

.service-info h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.service-info h3{
    font-size: 13px;
    font-weight: 300;
}

.service:nth-child(1) .service-icon{
    background: #bba2b9;
}
.service:nth-child(2) .service-icon{
    background: #70cd98;
}
.service:nth-child(3) .service-icon{
    background: #e1d392;
}

.counter-list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.counter{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.counter h1{
    font-size: 30px;
    color: #f83d8e;
}

.counter p{
    font-size: 13px;
}

@media (max-width: 1536px){
    .service, .counter-list{
        width: 70%;
    }
}

@media (max-width: 1280px){
    .section-title{
        font-size: 48px;
    }
    .service{
        width: 100%;
    }
}

@media (max-width: 1024px){
    .section-title{
        font-size: 28px;
    }
    .service, .counter-list{
        width: 100%;
    }
}

@media (max-width: 768px){
    .services{
        align-items: center;
        justify-content: center;
    }

    .services-section{
        width: 100%;
    }

    .services-section.right{
        display: none;
    }
}