.hero{
    height: 100%;
    overflow: hidden;
    display: flex;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-image{
    position: absolute;
    /* top: 0; */
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 80%;
    width: max-content;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title{
    margin-top: 50px;
    font-size: 50px;
    color: pink;
}

.hero-title span{
    color: #fff;
}

.awards{
    width: 30%;
}

.awards p{
    font-size: 14px;
    color: #ccc;
    margin: 16px 0;
}

.awards-list{
    display: flex;
    gap: 8px;
}

.awards-list img{
    width: 34px;
    height: 34px;
    padding: 8px;
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.scroll{
    margin-bottom: 50px;
    width: max-content;
    cursor: pointer;
}

.hero-section.right{
    align-items: end;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 14px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
}

.follow img{
    width: 15px;
    height: 15px;
}

.follow-text-container{
    width: 15px;
    height: 15px;
}

.follow-text{
    background-color: #6c0459;
    font-size: 12px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.speech-bubble{
    width: 50%;
    display: flex;
    align-items: end;
    gap: 8px;
    justify-content: space-between;
}

.speech-bubble img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    background: #dd4c62;
}

.bubble{
    width: 100%;
    height: 100px;
    background: #fff;
    color: #555;
    padding: 24px;
    font-size: 18px;
    border-radius: 20px 20px 0px 20px;
}

.bubble img{

}

.certificate{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    line-height: 24px;
    font-weight: 300;
    color: #ccc;
}

.certificate img{
    width: 100px;
    height: 100px;
}

.contact-link{
    margin-bottom: 50px;
}

.contact-btn{
    position: relative;
}

.circleText{
    letter-spacing: 3px;
    font-size: 20px;
}

.arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1536px){
    .hero-title{
        font-size: 72px;
    }
}

@media (max-width: 1280px){
    .bg{
        height: 60%;
        top: auto;
        bottom: 0;
    }

    .hero-image{
        height: 100%;
    }

    .awards{
        width: 60%;
    }

    .speech-bubble{
        width: 100%;
    }
}

@media (max-width: 1024px){
    .bg{
        height: 50%;
    }

    .hero-title{
        font-size: 22px;
    }
}

@media (max-width: 768px){
    .hero{
        flex-direction: column;
    }

    .bg{
        height: 60%;
    }

    .hero-section{
        width: 100%;
    }

    .hero-section.left{
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .hero-title{
        font-size: 22px;
    }

    .awards{
        width: 100%;
    }

    .awards-list{
        justify-content: center;
    }

    .hero-section.right{
        justify-content: end;
    }

    .follow, .speech-bubble, .certificate{
        display: none;
    }
}
