.hero {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.bg {
  background: #640b0b;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 80%;
  width: max-content;
  max-width: 90%;
  z-index: 0;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.hero-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 20px;
}

.hero-section.right {
  align-items: flex-end;
}

.hero-title {
  margin-top: 50px;
  font-size: 56px;
  color: #ff69b4;
  line-height: 1.2;
  font-weight: 700;
}

.hero-title span {
  color: #fff;
  display: block;
}

.awards {
  width: 30%;
  max-width: 300px;
}

.awards p {
  font-size: 14px;
  color: #ccc;
  margin: 16px 0;
  line-height: 1.5;
}

.awards-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.awards-list img {
  width: 34px;
  height: 34px;
  padding: 8px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.awards-list img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

.scroll {
  margin-bottom: 50px;
  width: max-content;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.scroll:hover {
  transform: translateY(5px);
}

.follow {
  position: absolute;
  top: -20px;
  margin: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 14px;
  background: #2f204e;
  border-bottom-right-radius: 10px;
}

.follow img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.follow img:hover {
  opacity: 0.7;
}

.follow-text-container {
  width: 15px;
  height: 15px;
  position: relative;
}

.follow-text {
  background-color: #6c0459;
  font-size: 12px;
  rotate: 90deg;
  width: max-content;
  height: 100%;
  transform-origin: left top;
  transform: translateY(-20px);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 10px;
}

.speech-bubble {
  position: absolute;
  top: -50px;
  left: 230px;
  width: 50%;
  min-width: 250px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  justify-content: space-between;
}

.speech-bubble img {
  width: 50px;
  height: 50px;
  margin-top: 120px;
  min-width: 50px;
  border-radius: 50%;
  object-fit: cover;
  background: #dd4c62;
}

.bubble {
  width: 100%;
  min-height: 80px;
  text-align: center;
  background: #fff;
  color: #555;
  padding: 25px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 20px 20px 0 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.certificate {
  position: absolute;
  width: 60%;
  max-width: 300px;
  margin-top: 150px;
  left: 230px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
  color: #ccc;
  font-size: 14px;
}

.certificate img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.contact-link {
  margin-bottom: 50px;
  margin-top: 420px;
}

.contact-btn {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contact-btn:hover {
  transform: scale(1.05);
}

.circleText {
  letter-spacing: 3px;
  font-size: 18px;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}


/* Extra Large Screens */
@media (max-width: 1536px) {
  .hero-title {
    font-size: 64px;
  }

  .hero {
    padding: 15px;
  }
}

/* Large Screens */
@media (max-width: 1280px) {
  .bg {
    height: 60%;
    top: auto;
    bottom: 0;
  }

  .hero-image {
    height: 100%;
  }

  .hero-title {
    font-size: 56px;
  }

  .awards {
    width: 50%;
  }

  .speech-bubble {
    width: 70%;
  }

  .certificate {
    width: 70%;
  }
}

/* Medium Screens / Tablets Landscape */
@media (max-width: 1024px) {
  .bg {
    height: 100%;
  }

  .hero-title {
    font-size: 42px;
    margin-top: 30px;
  }

  .hero-section {
    padding: 15px;
  }

  .awards {
    width: 60%;
  }

  .speech-bubble {
    width: 80%;
    min-width: 200px;
  }

  .bubble {
    font-size: 14px;
    padding: 16px;
  }

  .certificate {
    width: 80%;
  }

  .certificate img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 10px;
  }

  .bg {
    height: 40%;
  }

  .hero-image {
    width: 50%;
    padding-top: 50px;
  }

  .hero-section {
    width: 100vw;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 36px;
    margin-top: 20px;
  }

  .awards {
    width: 100%;
    max-width: 100%;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: -50px;
    left: 20px;
    width: 60%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 15px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: -15px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    margin-top: 150px;
    left: 130px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
    color: #ccc;
    font-size: 14px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: relative;
    left: 130px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    left: 15px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .hero {
    flex-direction: column;
    padding: 10px;
  }

  .bg {
    height: 40%;
  }

  .hero-image {
    width: 50%;
    padding-top: 50px;
  }

  .hero-section {
    width: 100vw;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 36px;
    margin-top: 20px;
  }

  .awards {
    width: 100%;
    max-width: 100%;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: -50px;
    left: 20px;
    width: 60%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 15px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: -15px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    margin-top: 150px;
    left: 130px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
    color: #ccc;
    font-size: 14px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: relative;
    left: 130px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    left: 15px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 414px) {
  .hero {
    flex-direction: column;
    padding: 6px;
    min-height: 100dvh;
  }

  .bg {
    height: 100%;
  }

  .hero-image {
    width: 100%;
    padding-top: 280px;
  }

  .hero-section {
    width: 100%;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 38px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: -60px;
    text-align: left;
    line-height: 1;
  }

  .awards {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .awards p{
     color: #2c280e;
  }

  .awards-list{
    position: absolute;
    left: 10px;
  }

  .mouse-svg{
    position: absolute;
    top: -20px;
    left: -10px;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    font-size: 18px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: 590px;
    left: 50px;
    width: 80%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 15px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: 0px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    top: -290px;
    left: 205px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    line-height: 0.7;
    font-weight: 300;
    color: #302003;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }

  .certificate .dev-sec{
    font-size: 22px;
    font-weight: 600;
    color: #886c1e;
    padding-top: 5px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: absolute;
    left: 20px;
    top: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    padding: 6px;
    min-height: 100dvh;
  }

  .bg {
    height: 100%;
  }

  .hero-image {
    width: 50%;
    padding-top: 50px;
  }

  .hero-section {
    width: 100%;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 36px;
    margin-top: 20px;
    margin-left: -190px;
    text-align: left;
  }

  .awards {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .awards p{
     color: #2c280e;
  }

  .awards-list{
    position: absolute;
  }

  .mouse-svg{
    position: absolute;
    top: 20px;
    left: -190px;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: -10px;
    left: 110px;
    width: 60%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 15px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: -280px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    top: -270px;
    left: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    line-height: 0.7;
    font-weight: 300;
    color: #302003;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }

  .certificate .dev-sec{
    font-size: 22px;
    font-weight: 600;
    color: #886c1e;
    padding-top: 5px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: relative;
    left: 130px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    left: 15px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 430px) {
  .hero {
    flex-direction: column;
    padding: 6px;
    min-height: 100dvh;
  }

  .bg {
    height: 100%;
  }

  .hero-image {
    width: 80%;
    padding-top: 280px;
  }

  .hero-section {
    width: 100%;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 38px;
    margin-top: 15px;
    margin-left: -90px;
    text-align: left;
    line-height: 1;
  }

  .awards {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .awards p{
     color: #2c280e;
  }

  .awards-list{
    position: absolute;
    left: 10px;
  }

  .mouse-svg{
    position: absolute;
    top: -20px;
    left: -150px;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    font-size: 18px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: 170px;
    left: 50px;
    width: 80%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
    margin-top: 120px;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 22px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: -460px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    top: -290px;
    left: 205px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    line-height: 0.7;
    font-weight: 300;
    color: #302003;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }

  .certificate .dev-sec{
    font-size: 22px;
    font-weight: 600;
    color: #886c1e;
    padding-top: 5px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: absolute;
    left: 20px;
    top: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .hero {
    flex-direction: column;
    padding: 6px;
    min-height: 100dvh;
  }

  .bg {
    height: 100%;
  }

  .hero-image {
    width: 80%;
    padding-top: 140px;
  }

  .hero-section {
    width: 100%;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 30px;
    margin-top: 15px;
    margin-left: -140px;
    text-align: left;
    line-height: 1;
  }

  .awards {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .awards p{
     color: #2c280e;
  }

  .awards-list{
    position: absolute;
  }

  .mouse-svg{
    position: absolute;
    top: 20px;
    left: -130px;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: 100px;
    left: 65px;
    width: 60%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 15px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: -250px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    top: -270px;
    left: 180px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    line-height: 0.7;
    font-weight: 300;
    color: #302003;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }

  .certificate .dev-sec{
    font-size: 22px;
    font-weight: 600;
    color: #886c1e;
    padding-top: 5px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: absolute;
    left: 20px;
    top: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    left: 15px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .hero {
    flex-direction: column;
    padding: 6px;
    min-height: 100dvh;
  }

  .bg {
    height: 100%;
  }

  .hero-image {
    width: 80%;
    padding-top: 170px;
  }

  .hero-section {
    width: 100%;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 30px;
    margin-top: 15px;
    margin-left: -90px;
    text-align: left;
    line-height: 1;
  }

  .awards {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .awards p{
     color: #2c280e;
  }

  .awards-list{
    position: absolute;
    left: 10px;
  }

  .mouse-svg{
    position: absolute;
    top: 20px;
    left: -120px;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: 190px;
    left: 50px;
    width: 80%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 15px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: -280px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    top: -290px;
    left: 155px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    line-height: 0.7;
    font-weight: 300;
    color: #302003;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }

  .certificate .dev-sec{
    font-size: 22px;
    font-weight: 600;
    color: #886c1e;
    padding-top: 5px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: absolute;
    left: 20px;
    top: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .hero {
    flex-direction: column;
    padding: 6px;
    min-height: 100dvh;
  }

  .bg {
    height: 100%;
  }

  .hero-image {
    width: 80%;
    padding-top: 140px;
  }

  .hero-section {
    width: 100%;
    padding: 10px;
  }

  .hero-section.left {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-title {
    font-size: 30px;
    margin-top: 15px;
    margin-left: -90px;
    text-align: left;
    line-height: 1;
  }

  .awards {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .awards p{
     color: #2c280e;
  }

  .awards-list{
    position: absolute;
    left: -10px;
  }

  .mouse-svg{
    position: absolute;
    top: 20px;
    left: -120px;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  p {
    width: 220px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .awards-list {
    justify-content: center;
  }

  .hero-section.right {
    align-items: flex-start;
  }

  .speech-bubble {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 60%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .speech-bubble img {
    width: 40px;
    height: 50px;
    margin-top: 120px;
    min-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dd4c62;
  }

  .bubble {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #fff;
    color: #555;
    padding: 15px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .follow {
    position: absolute;
    top: -280px;
    right: 0;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 5px;
    background: #2f204e;
    border-bottom-right-radius: 10px;
  }

  .follow img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .follow img:hover {
    opacity: 0.7;
  }

  .follow-text-container {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -5px;
  }

  .follow-text {
    background-color: #b839a0;
    color: #fff;
    font-size: 10px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 10px;
  }

  .certificate {
    position: absolute;
    width: 60%;
    max-width: 300px;
    top: -220px;
    left: 145px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    line-height: 0.7;
    font-weight: 300;
    color: #302003;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }

  .certificate .dev-sec{
    font-size: 22px;
    font-weight: 600;
    color: #886c1e;
    padding-top: 5px;
  }

  .certificate img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .contact-link {
    height: 10%;
    margin-bottom: 50px;
    margin-top: 420px;
  }

  .contact-btn {
    position: absolute;
    left: 20px;
    top: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .circle-svg {
    width: 40%;
    height: auto;
    left: 130px;
  }

  .contact-btn:hover {
    transform: scale(1.05);
  }

  .circleText {
    letter-spacing: 3px;
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    top: 30px;
    bottom: 50px;
    right: 120px;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .scroll {
    margin-bottom: 30px;
  }

  .contact-link {
    margin-bottom: 30px;
  }
}

/* Tablets Portrait */

/* Landscape Orientation for Mobile */
@media (max-width: 768px) and (orientation: landscape) {
  .hero {
    flex-direction: row;
  }

  .hero-section {
    width: 50%;
  }

  .hero-title {
    font-size: 24px;
    margin-top: 10px;
  }

  .hero-image {
    height: 90%;
  }

  .bg {
    height: 100%;
  }

  .scroll,
  .contact-link {
    margin-bottom: 15px;
  }
}

/* ============================================
   TOUCH DEVICE OPTIMIZATIONS
   ============================================ */

@media (hover: none) and (pointer: coarse) {
  .awards-list img,
  .follow img,
  .contact-btn {
    min-width: 4px;
    min-height: 4px;
  }

  .awards-list img:active {
    transform: scale(0.95);
  }

  .contact-btn:active {
    transform: scale(0.98);
  }
}

/* ============================================
   ACCESSIBILITY
   ============================================ */

@media (prefers-reduced-motion: reduce) {
  .awards-list img,
  .scroll,
  .contact-btn,
  .follow img {
    transition: none;
  }

  .awards-list img:hover,
  .scroll:hover,
  .contact-btn:hover {
    transform: none;
  }
}

/* ============================================
   PRINT STYLES
   ============================================ */

@media print {
  .follow,
  .scroll,
  .contact-link {
    display: none;
  }

  .hero {
    height: auto;
    min-height: auto;
  }
}
