*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body{
  background: linear-gradient(to bottom,#12071f, #2f204e);
  color: #fff;
  font-family: Calibri;
  min-height: 100vh;
  /* overflow-x: hidden; */
}

a{
  text-decoration: none;
  color: #fff;
}

.container{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

/* section{
  height: 100%;
  width: 100%;
  scroll-snap-align: center;
} */

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;

  overflow: hidden;          /* prevents content bleeding */
  position: relative;
}


@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(250%); }
}
