.contact{
    height: 100%;
    display: flex;
    gap: 100px;
}

.contact-section{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea{
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.form-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    font-size: 13px;
}

.form-btn{
    background: #dd3c62;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width:1280px){
    .form{
        width: 100%;
    }
}

@media (max-width: 1024px){
    .contact{
        gap: 30px;
    }
}

@media (max-width: 768px){
    .contact{
        flex-direction: column;
    }
    .contact-section{
        width: 100%;
    }
    .contact-section:first-child{
        height: 70%;
    }
    .contact-section:last-child{
        height: 30%;
    }
}